/*.center-pills { 
  display: inline-block; 
}*/

* {
  ms-box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#username {
  margin-top: 2%;
}

.username-submit-init {
  width: 24%;
  margin-top: 4%;
  margin-left: 38%;
  margin-right: 38%;
}

.username-submit-main {
  width: 35%;
  max-width: 100px;
  margin-top: 2%;
}

.username-submit-init:hover {
  opacity: .5;
}

.username-submit-main:hover {
  opacity: .5;
}

.username-form {
  width: 50%;
  margin: auto;
}

.gatekeeper {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pagination {
 /* margin-right: 53%;
  margin-top: 2%;
  margin-bottom: 2%;*/
}

.rec-img {
  margin-bottom: 2%;
}

.rec-img img {
  width: 12%;
  margin-left: 44%;
  margin-right: 44%;
}

#userlist .dropdown-menu li {
  padding-left: 10%;
  padding-bottom: 6%;
}

#want-collection {
  margin-left: center;
  margin-right: center;
}

.vid-nav {
  text-align: center;
}

#nav-select {
  display: inline-block;
  width: 51%;
  /*border: 2px solid red;*/
}

.pag-wrapper {
  display: inline-block;
  width: 51%;
  /*border: 2px solid green;*/
}

.lazy-wrapper{
  height: 240px;
}

.pill-outer {
  text-align: center;
}

.pill-wrap {
  display: inline-block;
  width: 75%;
  padding-left: 15%;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
Status API Training Shop Blog About © 2014 GitHub, Inc. Terms Privacy Security Contact 