.center-pills { 
	display: inline-block; 
}

#userlist .dropdown-menu li {
	padding-left: 10%;
	padding-bottom: 6%;
}

#loading{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}